<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.bootcss.com/vue/2.3.3/vue.min.js"></script>
</head>
<body>
    <div id="app">
        <ol>
            <todo-item v-if="ok" v-for="item in items" v-bind:todo="item"></todo-item>
        </ol>
        <div v-else>2222</div>
    </div>

    <div id="app-2">
        <div v-if="type === 'A'">A</div>
        <div v-else-if="type === 'B'">B</div>
        <div v-else-if="type === 'C'">C</div>
        <div v-else>
            NOT/A/B/C
        </div>
    </div>
    <div id="app-4">
        <div v-show="aaa">11111</div>
    </div>
    <div id="app-3">
        <template v-if="loginType === 'username'">
            <label>username</label>
            <input type="text" key='user-input'  placeholder="Enter your username" name="" value="">
        </template>
        <template v-else>
            <label>Email</label>
            <input type="text" key="email-input"  placeholder="Enter your Email" name="" value="">
        </template>
    </div>
    <script>
        Vue.component("todo-item",{
            template:"<li> {{ todo.text }} </li>",
            props:["todo"]
        });
        var app = new Vue({
            el:"#app",
            data:{
                items:[
                    {text:"111"},
                    {text:"222"}
                ],
                ok:false
            }
        });
        var app2 = new Vue({
            el:"#app-2",
            data:{
                type:"d"
            }
        });
        var app3 = new Vue({
            el:"#app-3",
            data:{
                loginType:"aa"
            }
        });

        var app4 = new Vue({
            el:"#app-4",
           data:{
               aaa:false
           } 
        });
    </script>
</body>
</html>