<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.bootcss.com/vue/2.3.3/vue.min.js"></script>
</head>
<body>
    <div id="app">
        <ul v-for="(item,index) in items">
           {{ parentMessage }}-{{ index }}-{{ item.message }}
        </ul>
    </div>
    <div id="app-2">
        <template v-for="item in items">
            <li>{{ item.msg }}</li>
            <li class="divider"></li>
        </template>
    </div>

    <div id="app-3">
        <ul>
            <li v-for="(value,key,index) in object">
                {{index}}.{{ key }}:{{ value }}
            </li>
        </ul>
    </div>

    <div id="app-4">
        <input 
        v-model="newTodoText"
        v-on:keyup.enter="addNewTodo"
        placeholder="Add a item"
        >
        <ul>
            <li
                is="todo-item"
                v-for="(item,index) in items"
                v-bind:title="item"
                v-bind:i="index"
                v-on:remove="items.splice(index,1)"
            ></li>
        </ul>
    </div>

    <div id="app-5">
        <input type="text"
            v-model="newTodoText"
            v-on:keyup.enter="addNewTodo"
            placeholder="Add a todo"
        >
        <ul>
            <li
                is="todo-index"
                v-for="(index,item) in items"
                v-bind:title="index"
                v-on:remove="items.splice(index,1)"
            ></li>
        </ul>
    </div>

    <div id="app-6">
        <input type="text"
            v-model="newTodoText"
            v-on:keyup.enter="addNewTodo"
            placeholder="Add a Todo"
        >
        <ul>
            <li
                is="todo-index"
                v-for="(item,index) in items"
                v-bind:title="item"
                v-on:remove="items.splice(index,1)"
            ></li>
        </ul>
    </div>

    <div id="app-7">
        <input type="text"
        v-model="NewText"
        v-on:keyup.enter="addTodo">
        <ul>
            <li
                is="tem-s"
                v-for="(item,index) in items"
                v-bind:title="item"
                v-on:remove="items.splice(index,1)"
            ></li>
        </ul>
    </div>
    <script>
        var tem1 = new Vue({
            el:"#app",
            data:{
                items:[
                    {message:"Foo"},
                    {message:"Bar"}
                ],
                parentMessage:"Parent"
            }
        });
        var tem2 = new Vue({
            el:"#app-2",
            data:{
                items:[
                    {msg:"111"},
                    {msg:"222"}
                ]
            }
        });
        var tem3 = new Vue({
            el:"#app-3",
            data:{
                object:{
                    FirstName:"John",
                    lastName:"Doe",
                    Age:30
                }
            }
        });
        
        Vue.component("todo-item",{
            template:"<li>\
          {{ i }} -- {{ title}}    \
            <button v-on:click='$emit(\"remove\")'>X</button>    \
            </li>",
            props:["title",'i']
        });

        new Vue({
            el:"#app-4",
            data:{
                newTodoText:"",
                items:[
                    "Do the dishe",
                    "Take out the trash",
                    "now the lawn"
                ]
            },
            methods:{
                addNewTodo:function (){
                    this.items.push(this.newTodoText);
                    this.newTodoText = ""
                }
            }
        });

        Vue.component("todo-index",{
            template:"<li>\
               {{title}}\
                <button v-on:click='$emit(\"remove\")'>X</button>    \
                </lo>",
                props:["title"]

        });
        new Vue({
            el:"#app-5",
            data:{
                newTodoText:"",
                items:[
                    "this is 1!",
                    "this is 2",
                    "this is 3"
                ]
            },
            methods:{
                addNewTodo:function (){
                    this.items.push(this.newTodoText);
                    this.newTodoText = "";
                }
            }
        });

        
        Vue.component("todo-index",{
                template:"<li>\
                    {{title}}\
                    <button v-on:click='$emit(\"remove\")'>X</button>    \
                    </lo>",
                    props:["title"]

            });
        new Vue({
            el:"#app-6",
            data:{
                newTodoText:"",
                items:[
                    "Hello world!",
                    "Hello Vue",
                    "Hellow Angular"
                ]
            },
            methods:{
                addNewTodo:function (){
                    this.items.push(this.newTodoText);
                    this.newTodoText = "";
                }
            }
        });


        Vue.computed("tem-s",{
           template:"<li>\
                {{ title }}\
                <button v-on:click='$emit(\"remove\")'>X</button></li>"
        });

        new Vue({
            el:"#app-7",
            data:{
                NewText:"",
                items:[
                    "last child",
                    "first child"
                ]
            },
            methods:{
                addTodo:function (){
                    this.items.push(this.NewText);
                    this.NewText = ""
                }
            }
        });
    </script>
</body>
</html>